services:
  # -------------------------
  # 1) Kafka (KRaft Mode)
  # Using your custom Dockerfile
  # -------------------------
  kafka:
    build: .
    container_name: kafka
    ports:
      - "9092:9092"
    command: >
      sh -c "cd /kafka_2.12-3.6.2 && 
      if [ ! -f /tmp/kraft-combined-logs/meta.properties ]; then
        bin/kafka-storage.sh format -t $$KAFKA_CLUSTER_ID -c config/kraft/server.properties;
      fi;
      bin/kafka-server-start.sh config/kraft/server.properties 
      --override process.roles=broker,controller 
      --override node.id=1 
      --override controller.quorum.voters=1@kafka:9093 
      --override listeners=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093 
      --override advertised.listeners=PLAINTEXT://kafka:9092 
      --override listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT 
      --override controller.listener.names=CONTROLLER"
    healthcheck:
      test: ["CMD-SHELL", "lsof -i :9092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  # -------------------------
  # 2) Producer
  # -------------------------
  producer:
    build: .
    container_name: producer
    depends_on:
      kafka:
        condition: service_healthy
    volumes:
      - ./ingestion:/app
    working_dir: /app
    environment:
      PRODUCER_ARGS: "--num-events 50 --sleep-time 0.1 --seed 42"
      TOPIC: "user_events"
    command: >
      python3 event_generator.py
        --bootstrap-server kafka:9092
        --topic ${TOPIC}
        ${PRODUCER_ARGS}

  # -------------------------
  # 3) Consumer (Built-in Kafka Tool)
  # -------------------------
  consumer:
    build: .
    container_name: consumer
    depends_on:
      kafka:
        condition: service_healthy
    command: >
      /kafka_2.12-3.6.2/bin/kafka-console-consumer.sh
        --bootstrap-server kafka:9092
        --topic user_events
        --from-beginning
        --property print.key=true
        --property key.separator=" | "